<h1>Error 404</h1>
<p>página no encontrada, intenta otra ruta o vuelve al inicio.</p>
<a href="{{ routes.root_url }}">
  Volver al inicio
</a>
{% schema %}
  {
    "name": "Section",
    "tag": "section",
    "settings": []  
  }
{% endschema %}